:root { 
--gray_600:#6d6d6d; 
--white_A700_87:#fefefe87; 
--yellow_A400:#e7e013; 
--black_900:#000000; 
--gray_900_87:#1b1b1b87; 
--white_A700_01:#fefefe; 
--gray_900:#1b1b1b; 
--blue_gray_800:#26513a; 
--black_900_3f:#0000003f; 
--white_A700:#ffffff; 
--gray_700_3f:#6666663f; 
}